@font-face {
    font-family: 'relative';
    src: url(relative-book-pro.9a240413.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'relative';
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #191919;
    overflow-x: hidden;
}

#main {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0vw 1vw;
    box-shadow: 0.5vw 0vw 10px 1px #000;
    box-sizing: border-box;
}

nav #center {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav #center a {
    color: #9A9A9A;
    text-decoration: none;
}

nav #center a:hover {
    color: #fff;
    text-decoration: none;
}


nav #start {
    display: flex;
    align-items: center;
    color: #CCCCCC;

}

nav #start h1 {
    font-family: 'relative';
    font-size: 2.2vw;
    margin: 0;
}

nav #start img {
    width: 3vw;
}

nav #end {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav #end #tradeBtn {
    background-color: #3EB489;
    color: #fff;
    padding: 0.5vw 0.6vw;
    font-size: 0.7vw;
    border-radius: 5px;
    border: none;
    outline: none;
}

nav #end #tradeBtn:hover {
    background-color: #207A59;
}

#ConnectWallet {
    background-color: transparent;
    color: #fff;
    padding: 0.5vw 0.9vw;
    font-size: 0.7vw;
    border-radius: 5px;
    border: 0.5px solid #2A2A2A;
    outline: none;
}

#ConnectWallet:hover {
    background-color: #2A2A2A;
}

#Eth {
    background-color: transparent;
    color: #fff;
    padding: 0.3vw 0.9vw;
    font-size: 0.7vw;
    border-radius: 5px;
    border: 0.5px solid #2A2A2A;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Eth:hover {
    background-color: #2a2a2a;
}

#btn-img {
    border-right: 1px solid rgb(106, 106, 106);

}

#btn-img img {
    width: 20px;
    margin-right: 10px;
}

#Eth i {
    display: block;
    position: relative;
    left: 20%;
}

.popup {
    width: 8vw;
    /* background-color: red; */
    background-color: #151515;
    height: 15vh;
    position: absolute;
    right: 3vw;
    top: 3.1vw;
    opacity: 0;
    padding: 0.5vw 0.5vw;
    color: white;
    border: 1px solid #47474C;
    transition: opacity 100ms ease
}

.open-menu {
    opacity: 1;
}

#popup-heding h2 {
    font-size: 0.8vw;
    color: #6A93A8;
    font-weight: 100;


}

#popup-eth {

    margin-top: 1vw;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#popup-eth h4 {
    color: white;
    font-weight: 100;
    font-size: 0.7vw;
    margin-left: .5vw;
}

#popup-eth img {
    width: 18px;

}

.link {
    margin-bottom: 0.5vw;
}

.link span {
    margin-left: 0.4vw;
}

.link i {

    font-size: 18px;
}

#page1 {
    height: 50vh;
    width: 100%;
    color: white;
    font-family: 'relative';
    position: relative;
    padding-top: 2vw;
}

#page1 #stats-container {
    width: 70%;
    /* background-color: red; */
    height: 260px;
    margin: 1vw auto;
}

#page1 #stats-container h1 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
    margin-right: 1.5vw;
}

#page1 #stats-container h1 img {
    width: 1.5vw;
}

#page1 #stats-container p {
    line-height: 1.5;
    font-size: 1vw;
    width: 30%;
    color: #A8A8AE;
}

#page1 #stats-container .stats-tables {
    display: flex;
    width: 100%;
    /* background-color: red; */
    height: 100%;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-table {
    width: 48%;
    background-color: #151515;
    height: 100%;
    border: 1px solid #47474C;
    border-radius: 5px;
}

.stats-table .table-heading {
    font-size: 1vw;
    display: flex;
    align-items: center;
    /* background-color: gold; */
    padding: 1vw 1vw;
    border-bottom: 1px solid #47474C;
}

.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-data ul {
    list-style-type: none;
    margin-top: 1vw;
}

.table-data ul li {
    margin: 0.8vw;
}

.table-item ul li {
    color: #A8A8AE;
}

.table-price {
    text-align: right;
}

#page2 {
    height: 50vh;
    width: 100%;
    color: white;
    font-family: 'relative';
    position: relative;
    padding-top: 2vw;
}

#page2 #token-container {
    width: 70%;
    /* background-color: red; */
    height: 260px;
    margin: 1vw auto;
}

#page2 #token-container h1 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
    margin-right: 1.5vw;
}

#page2 #token-containerh1 img {
    width: 1.5vw;
}

#page2 #token-container p {
    line-height: 1.5;
    font-size: 1vw;
    width: 30%;
    color: #A8A8AE;
}

#page2 #token-container .token-tables {
    display: flex;
    width: 100%;
    /* background-color: red; */
    height: 100%;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.token-table {
    width: 48%;
    background-color: #151515;
    height: 100%;
    border: 1px solid #47474C;
    border-radius: 5px;
}

.token-table .table-heading {
    font-size: 1vw;
    display: flex;
    align-items: center;
    /* background-color: gold; */
    padding: 1vw 1vw;
    border-bottom: 1px solid #47474C;
    width: 70%;
}

.token-table .table-heading img {
    width: 40px;
    margin-right: 0.5vw;
}

.table-data-container {
    display: flex;
    position: relative;
    width: 100%;
}

.table-data-container .table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.token-table .second {
    font-size: 1vw;
    display: flex;
    align-items: center;
    /* background-color: gold; */
    padding: 1vw 1vw;
    border-bottom: 1px solid #47474C;
    width: 100%;
}

.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-data ul {
    list-style-type: none;
    margin-top: 1vw;
}

.table-data ul li {
    margin: 0.8vw;
}

.table-item ul li {
    color: #A8A8AE;
}

.table-price {
    text-align: right;
}

#circle {
    width: 170px;
    height: 170px;
    display: block;
    /* background-color: red; */
    border-radius: 50%;
    border: 10px solid royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

#page3 {
    height: 50vh;
    width: 100%;
    color: white;
    font-family: 'relative';
    position: relative;
    padding-top: 2vw;
}

#page3 #index-table {
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: #151515;
    border: 1px solid #47474C;
}

#index-heading {
    font-size: 1vw;
    display: flex;
    align-items: center;
    /* background-color: gold; */
    padding: 1vw 1vw;
    border-bottom: 1px solid #47474C;
    width: 100%;
}

#index-heading img {
    width: 20px;
    margin-left: 0.5vw;
}
#page3 #index-table h5{
    font-size: 0.8vw;
    margin-bottom: 0.1vw;
    color:#828287 ;
    
    font-weight: 100;   text-transform: uppercase;
}
#page3 #index-table #index-data {
    padding: 1vw 1vw;
    display: flex;
    justify-content: space-between;
}
#page3 #index-table #index-data ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#page3 #index-table #index-data ul img{
  width: 40px;  

}

#page3 #index-table #index-data ul li{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 100;
    font-size: 0.9vw;
    letter-spacing:  2px;
    height: 42px;
    /* background-color: red; */
    color:#E5E5E5 ;

}

#footer {
    display: flex;
    border-top: 1px solid #6d6d6d;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 20vh;
    flex-direction: column;
    padding: 1vw 0vw;

}

#footer #footer-start {
    display: flex;
    align-items: center;
    color: #CCCCCC;

}

#footer #footer-start h1 {
    font-family: 'relative';
    font-size: 2.2vw;
    margin: 0;
}

#footer #footer-start img {
    width: 3vw;
}
#footer #links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 1vw;
}
#footer #links i{
    font-size: 2vw;
    color:#47474C ;
}
#footer #links i:hover{
    color: #E8E8E8;

}
#conditions{
    margin-top: 1vw;
 display: flex;
 gap: 1vw;
}
#conditions a{
    text-decoration: none;
    color: white;
    
}